<div>
<h1>Populating Users</h1>
<br><br>

<%= form_tag manual_user_addition_users_path, method: :post do %>
  <%= submit_tag "Manual user addition" %>
<% end %><br>

<%= form_tag bulk_user_addition_users_path, method: :post do %>
  <%= submit_tag "Bulk user addition" %>
<% end %><br>

<%= form_tag show_users_users_path, method: :post do %>
  <%= submit_tag "Show users" %>
<% end %><br>

</div>