<div>
<h1>List of Users</h1>
<br><br>

<% if (@users.size >= 1) %>
  <table id="data_table">
    <tr class="table_header">
      <th>S.No.</th>
      <th>Jid</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Modify</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.jid %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.address %></td>
        <td><%= link_to "Edit", edit_user_details_users_path(id: user.id), method: :post, class: 'link_color' %> <%= link_to "Delete", delete_user_details_users_path(id: user.id), method: :post, data: { confirm: 'Are you sure?' }, class: 'link_color' %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
<% else %>
  <table id="no_data_table">
    <tr class="table_header">
      <th>S.No.</th>
      <th>Jid</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
    </tr>
    <tr>
      <td colspan="6">Currently there are no user data to display</td>
    </tr>
  </table>
  <br><br>
<% end %>

<%= form_tag jid_pools_path, method: :get do %>  
  <%= submit_tag "Back" %>
<% end %>

</div>