<div>
<h1>Populating Users</h1>
<br><br>
<%= form_tag populate_users_path, method: :post do %>
  <b><%= label_tag :count, "Enter the number of users to populate:" %></b>
  <%= text_field_tag :count %><br><br>
  <%= submit_tag "Populate Users" %>
<% end %>
<br>
<% @users.each do |user| %>
  <p><%= user.email %> - <%= user.jid %></p>
<% end %>
</div>