<div>
<h1>Populating JIDs</h1>
<br><br>

<%= form_tag threshold_jid_pools_path, method: :post do %>
  <b><%= label_tag :count, "Enter the Threshold value:" %></b>
  <%= number_field_tag :count %><br><br>
  <%= submit_tag "Set" %>
<% end %><br><br>

<%= form_tag populate_jid_pools_path do %>
  <%= submit_tag "Populate JIDs" %>
<% end %>

<br>
</div>